* { padding:0; margin:0; vertical-align:baseline; list-style:none; border:0; text-decoration: none;}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/*font-family: 'Press Start 2P', cursive;*/

body{
    background-image: url("../imagens/mesa.jpg");
    display: flex;
    justify-content: center;
    height: 100vh;
}

main{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    gap: 15%;
    background-image: url("../imagens/capa.gif");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 75%;
    height: 95%;
}

h1{
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: #B2A280;
    margin-bottom: 10%;
}

h1:hover{
    font-size: 40px;
    cursor: pointer;
}

section{
    display: none;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

section div{
    width: 40%;
    display: flex;
    justify-content: center;
}

div img{
    width: 25%;

}
section p{
    font-family: 'Press Start 2P', cursive;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

button{
    display: none;
    background: none;
    font-size: 13px;
    font-family: 'Press Start 2P', cursive;
}

button:hover{
    font-size: 20px;
}

.botoes{
    display: flex;
    justify-content: flex-end;
    width: 60%;
    margin-bottom: 7%;
}

.credits img{
    width: 35%;
}

.credits p{
    text-align: center;
    font-size: 15px;
}

a{
    color: rgb(122, 5, 5);
}

a:hover{
    font-size: 18px;
}

@media only screen and (min-width: 1920px){
    
    main{
        gap: 10%;
    }
    
    h1{
        font-size: 50px;
    }

    section p{
        font-size: 18px;
    }

    button{
        font-size: 20px;
    }

    button:hover{
        font-size: 27px;
    }

    .botoes{
        width: 65%;
    }

    .credits img{
        width: 40%;
    }

    .credits p{
        font-size: 20px;
    }

    a:hover{
        font-size: 22px;
    }
}

