* { padding:0; margin:0; vertical-align:baseline; list-style:none; border:0; }

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/*font-family: 'Press Start 2P', cursive;*/

body{
    background-image: url("../imagens/mesa.jpg");
    display: flex;
    justify-content: center;
    height: 100vh;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16%;
    background-image: url("../imagens/capa.gif");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 75%;
    height: 95%;
}

h1{
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: #B2A280;
    margin-top: 30%;
}

h1:hover{
    font-size: 40px;
    cursor: pointer;
}

section{
    margin-top: 20%;
    display: none;
    gap: 30%;
    width: 65%;
}

section img{
    margin-top: 7%;
    margin-left: 15%;
    width: 15%;
    height: 75%; 
}

section p{
    margin-top: 7%;
    font-family: 'Press Start 2P', cursive;
    font-size: 13px;
    width: 50%;
}

button{
    display: none;
    background: none;
    font-size: 13px;
    font-family: 'Press Start 2P', cursive;
}

button:hover{
    font-size: 20px;
}

.botoes{
    display: flex;
    justify-content: flex-end;
    width: 60%;
}

